@import url(
    "https://fonts.googleapis.com/css?family=Inter"
);

html {
    box-sizing: border-box;    
    font-family: sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}


.box3{
    
  background-image: linear-gradient(241deg,rgba(33, 146, 245, 0.256),rgba(239,152,207,0) 36%);
    
}


.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
} 
.card {
      transform: translate3d(-5.028%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); 
      transform-style: preserve-3d; 
      width: 50%;
      height: 150px;
      background-color: blue;
      margin-left: 20px;
      display: inline-block;
    }

