@import url(
    "https://fonts.googleapis.com/css?family=Inter"
);

html {
    box-sizing: border-box;    
    font-family: sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}


.box3{
    
  background-image: linear-gradient(241deg,rgba(33, 146, 245, 0.256),rgba(239,152,207,0) 36%);
    
}

