html {
    box-sizing: border-box;
   
    
}

*, *:before, *:after {
    box-sizing: inherit;
}

.nbox{
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}


.navbar{
    top: 0;
    font-family: Inter,sans-serif;
    height: auto;
}

